{% extends 'base.html.twig' %}

{% block title 'Mon agence imobilier' %}

{% block body %}
	<div
		class="container text-center mt-3">
		
		<section class="py-3 text-center container">
			<div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
					<h1 class="fw-light">GOJOAGENCY</h1>
					<p class="lead text-body-secondary">GOJOAGENCY est une agence immobilière dédiée à vous fournir des solutions immobilières sur mesure.
							 Nous nous engageons à offrir un service professionnel et personnalisé à nos clients.
							Avec notre équipe expérimentée et passionnée, nous travaillons chaque jour pour vous accompagner dans la réalisation de vos projets immobiliers. 
							Que ce soit pour l'achat, la vente ou la location, chez GOJOAGENCY, votre satisfaction est notre priorité.
					</p>
					<p>
						<a href="#" class="btn btn-primary my-2">Connexion</a>
						<a href="#" class="btn btn-secondary my-2">Inscription</a>
					</p>
				</div>
			</div>
		</section>
	</div>


	<div class="album  bg-body-tertiary">
		<div class="container">

		<h1 class="text-center mb-5">Nos derniers bien</h1>

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-5">
				{% for property in properties %}

					<div class="col">

						{{ include('property/_property.html.twig') }}

					</div>

				{% endfor %}
			</div>
		</div>
	</div>

		{% endblock %}
