{% extends "base.html.twig" %}

{% block body %}

	<div class="container justify-content-center mt-3 col-6">
		<h2 class="my-4">Creer un nouveau bien</h2>

		{{ include('admin/property/_form.html.twig', {button: 'Creer'}) }}

	</div>

{% endblock %}
