{% extends "base.html.twig" %}

{% block body %}

	<div class="container justify-content-center mt-3 col-6">
		<h2 class="my-4">Creer une nouvelle option</h2>

		{{ include('admin/option/_form.html.twig', {button: 'creer'}) }}

	</div>

{% endblock %}
